.vscode
_deps
cmake-*
.DS_Store
*.pdf
build/*.map
build/*/*.bin
build/*/*.dis
build/*/*.hex
build/*/*.elf
build/CMakeCache.txt
.ninja*.*
build/.cmake
build/.ninja_log
build/.ninja_deps
build/pico-sdk
build/CMakeFiles
